*, *:before, *:after {
    box-sizing: border-box; 
}
body {
    font-family: $main_font;
}
figure {
    margin: 0;
}
img {
    height: auto;
    max-width: 100%;
}
a {
	color: $link_color;
	text-decoration: none;
	@include soft-transition();
	&:hover {
		color: $link_hover_color;
	}
	&:visited {
		color: $link_visited_color;
	}
}
hr {
	background: #333;
	border: 0;
	height: 1px;
	width: 100%;
}

.container-fluid {
	max-width: $container_width;
}
.site-header,
.site-content,
.site-footer {
    float: left;
    padding: 1em 0;
    width: 100%;
}
