/**
 * Vars 
 */
@import "vars";

/**
 * Mixins
 */
@import "mixins";

/**
 * Defaults 
 */
@import "defaults";

/**
 * Accessibility 
 */
@import "accessibility";

/**
 * Typography 
 */
@import "typography";

/**
 * Helpers 
 */
@import "helpers";

/**
 * Grid 
 */
// @import "grid";

/** 
 * Site-header 
 */
@import "site-header";

/** 
 * Site navigations
 */
@import "site-navigations";

/** 
 * Site content
 */
@import "site-content";

/** 
 * Site sections
 */
@import "site-sections";

/** 
 * Site footer 
 */
@import "site-footer";

/**
 * Components
 */ 
@import "components/forms";
@import "components/buttons";
@import "components/media";

.social-network {
	text-align: center;
	a {
		color: #111;
		display: inline-block;
		font-size: 1.4rem;
		margin: 5px;
		opacity: 0.85;
		padding: 0.5rem;
		&:hover {
			opacity: 1;
		}
	}
}
