button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: transparent;
	border: 0;
	color: $main_color;
	cursor: pointer;
	display: block;
	font-weight: 700;
	line-height: 1;
	margin: 0 auto;
	padding: 0.5rem 1rem;
	text-transform: uppercase;
	@include font(14);
	&:hover,
	&:active,
	&:focus {
		color: #111;
	}
}

.btn {
	border-radius: 30px;
	display: inline-block;
	padding: 1rem 2rem;
	@include font(14, 600);
	&.btn-light {
		color: #fff;
		border: 1px solid #666;
		&:hover {
			border-color: #fff;
		}
	}
	&.btn-dark {
		color: #444;
		border: 1px solid #888;
		&:hover {
			border-color: #444;
		}
	}
	.icon {
		margin-right: 15px;
	}
}
